.line-1 {
    height: 2px;
    background-color: #0B0B45;
}

.line-2 {
    height: 2px;
    background-color: #0B0B45;
}

.google-btn {
    border: 1px solid #FFFF;
    font-size: 20px;
    background-color: #0B0B45;
    color: #FFFF;
    padding: 10px 20px;
    border-radius: 5px;

}

.facebook-btn {
    border: 1px solid #FFFF;
    font-size: 20px;
    background-color: #0B0B45;
    color: #FFFF;
    padding: 10px 20px;
    border-radius: 5px;

}

.github-btn {
    border: 1px solid #FFFF;
    font-size: 20px;
    background-color: #0B0B45;
    color: #FFFF;
    padding: 10px 20px;
    border-radius: 5px;

}