.require {
    width: 35%;
    height: 100vh;
    margin: 30px auto;


}

.main-div {
    box-shadow: -8px 8px 10px 2px #A7C7E7;
    height: 450px;
}

.logo-div {
    height: 75px;
    background-color: #A7C7E7;
}